# Build and Release Folders
*.app
*~.skp
*.skp
*.mp4
*.mov
*.m4v
*.avi

*.mtl
*.lwo
*.3ds
*.ply
.DS_Store
*.zip
Duration/
Duration.app
*.o
*.build

#ignore tif
*.tif
*.psd
*._obj

*.aif
*alias
VolumetricsCamera/bin/data/volumes/TheVisibleMan_small/50%
